@using Airport.Models
@model Departure

@{
    ViewData["Title"] = "Редактировать вылет";
}

<h1>Редактировать вылет</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDeparture">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="FlightId" class="control-label">Рейс</label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Location" class="control-label">Место</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Time" class="control-label">Время вылета</label>
                <input asp-for="Time" class="form-control" type="time" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Departures" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 