<!-- Модальное окно для подтверждения удаления -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить этот элемент?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Удалить</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showDeleteConfirmation(deleteUrl) {
        var confirmBtn = document.getElementById('confirmDeleteButton');
        confirmBtn.setAttribute('data-url', deleteUrl);
        
        var modal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
        modal.show();
        
        confirmBtn.onclick = function() {
            window.location.href = this.getAttribute('data-url');
        };
    }
</script> 