@model Ticket

@{
    ViewData["Title"] = "Продажа билета";
}

<h1>Продажа билета</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="CashboxNumber" class="control-label">№ кассы</label>
                <input asp-for="CashboxNumber" class="form-control" />
                <span asp-validation-for="CashboxNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FlightId" class="control-label">Рейс</label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Time" class="control-label">Время</label>
                <input asp-for="Time" class="form-control" type="time" value="@DateTime.Now.ToString("HH:mm")" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 