@model Flight

@{
    ViewData["Title"] = "Редактирование рейса";
}

<h1>Редактирование рейса</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="FlightNumber" class="control-label">№ рейса</label>
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AircraftId" class="control-label">Самолет</label>
                <select asp-for="AircraftId" class="form-control" asp-items="ViewBag.AircraftId"></select>
                <span asp-validation-for="AircraftId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DepartureTime" class="control-label">Время вылета</label>
                <input asp-for="DepartureTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AvailableSeats" class="control-label">Свободные места</label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 