@model Landing

@{
    ViewData["Title"] = "Добавление посадки";
}

<h1>Добавление посадки</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="FlightId" class="control-label">Рейс</label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.FlightId"></select>
                <span asp-validation-for="FlightId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Location" class="control-label">Место посадки</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Time" class="control-label">Время посадки</label>
                <input asp-for="Time" class="form-control" type="datetime-local" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 